extends ./layout

block head
    title= title
    style.
        body{
            padding: 20px 40px;
        }
        h2{
            color: #C65FCF;
            font-size: 40px;
            font-weight: normal;
        }
block body
    h2 Aello, Blok.
