body{
    font-family: 'raleway';
    margin: 0;
    text-align: center;
}
h2{
    position: relative;
    text-align: center;
    font-style: italic;
    display: inline-block;
}

h2:after{
    content: '';
    position: absolute;
    left: -4px;
    right: 0px;
    bottom: 10px;
    height: 2px;
    background-color: currentColor;
    opacity: 0;
    transition: all ease-out 250ms;
}
h2:hover:after{
    opacity: 1;
    bottom: -2px;
}
